* { font-size: 14px; }
.hide { display: none; }

header {
  background: #F1EAC2;
  padding: 70px 0;
}
header img {
  max-width: 100%;
}
header p {
  font-size: 2.0rem;
}

#policy {
  background: url("../img/bg.png");
}
#policy .column {
  padding: 40px 15px;
}
#policy h2 {
  font-size: 2.4rem;
}

#works {
  background: #7B2315;
  padding: 70px 5%;
}
#works img {
  width: 100%;
}
#works h2, #works p {
  color: #fff;
}

#member {
  background: url("../img/bg.png");
  padding: 70px 5%;
}
#member ul {
  padding-left: 0;
}
#member li {
  list-style: none;
}

#about {
  background: #72BCAE;
  padding: 70px 5%;
  color: #fff;
}

footer {
  background: #333;
  padding: 30px;
  color: #fff;
}
footer a, footer a:visited {
  color: #fff;
}
