!!!
%html
  %head
    = partial "_meta"
    %script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    %script
      (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7840479109197513",
      enable_page_level_ads: true
      });
  %body.center
    #container
      = yield
