/*****************************************************************
* COMMON
*****************************************************************/
body {
	background: url("../css/img/gray_jean.png");
	font-family: 'Abel', sans-serif;
	color: #333;
	margin: 0;
}
html, body {
  height: 100%;
}

section.grid, section {
	padding: 100px 0;
}

ul, li {
	list-style: none;
	margin: 0;
}

@media all and (max-width: 480px) {
	section.grid, section, header {
		padding: 50px 0;
	}
}


/*****************************************************************
* HEADER
*****************************************************************/
header {
	background: rgba(242,234,192,0.8);
	h1 {
    margin-top: 100px;
		display: inline-block;
		font-size: 12em;
		line-height: 1.2em;
		border-bottom: 1px solid #333;

		background: rgba(255,255,255,0) url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
		text-shadow: -4px -4px #333, -3px -3px rgba(255,255,255,0.5);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;

		&:after {
			content: '';
			display: block;
			width: 100%;
			border-bottom: 1px solid rgba(255,255,255,0.5);
			position: relative;
			bottom: -2px;
		}
	}
	p {
		font-size: 3em;
		text-shadow: 1px 1px rgba(255,255,255,0.7);
	}
  p:nth-child(3) {
    margin-top: 50px;
    a { color: rgba(134, 1, 20, 1); }
    a:hover { color: rgba(134, 1, 20, 0.8); }
  }
}

@media all and (max-width: 480px) {
	header {
		h1 { font-size: 4em; }
		p { font-size: 1.2em; }
	}
}


/*****************************************************************
* NAV
*****************************************************************/
nav {
  background: rgba(0,0,0,0.8);
  font-size: 2em;
  padding: 15px 0;
  width: 100%;
  height: 70px;
  &.fixed {
    position: fixed;
    top: 0;
    z-index: 10000;
  }

  a {
    color: #fff;
    text-decoration: none;
    &:first-child { float: left; }
    &:hover, &.active {
      color: #FF6699;
    }
  }

  li {
    float: right;
    margin-right: 30px;
    padding: 0;
  }
}


/*****************************************************************
* PHILOSOPHY
*****************************************************************/
#philosophy {
  &.after-navfix {
    margin-top: 70px;
  }
}


/*****************************************************************
* WORKS
*****************************************************************/
#works {
	background: rgba(134,1,20,0.8);
	color: #fff;
	img {
		max-width: 90%;
	}
	h2 a {
		text-decoration: none;
		color: #fff;
	}

	//デフォルトの背景色/ボーダーを無効化
	.bx-wrapper, .bx-viewport {
		box-shadow: none;
		border: none;
		background: none;
	}

	//コントローラーの位置調整
	.bx-wrapper .bx-prev { left: -50px; }
	.bx-wrapper .bx-next { right: -50px; }
	a { transition: none; }
}

@media all and (max-width: 480px) {
	#works {
		.bx-wrapper .bx-prev, .bx-wrapper .bx-next { display: none; }
		img { max-width: 100%; }
	}
}


/*****************************************************************
* MEMBER
*****************************************************************/
#member {
	.col_5 div {
		background: url("../img/profile.jpg");
		background-size: cover;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto;
		height: 250px;
		width: 250px;
	}

	ul {
		margin-top: 25px;
		font-size: 1.5em;
	}
}

@media all and (max-width: 480px) {
	#member {
		.col_7 { text-align: center; }
	}
}


/*****************************************************************
* ABOUT
*****************************************************************/
#about {
	background: rgba(0,139,139,0.8);
	color: #fff;

	table {
		line-height: 2.0em;
	}
}


/*****************************************************************
* FOOTER
*****************************************************************/
footer {
	margin-top: 30px;
	a {
		text-decoration: none;
		color: rgb(134,1,20);
		margin: 0 5px;
	}
}
