%meta(charset="utf-8")
%title NOT SO BAD
%meta(name="keywords" content="NOT SO BAD, Tomomichi Onishi")
%meta(name="description" content="Towards a not so bad world.")
%meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")

%link(rel='stylesheet' href='./assets/semantic/semantic.min.css')
%link(rel='stylesheet' href='./assets/css/application.css')
%script(src="https://code.jquery.com/jquery-2.1.4.min.js")
%script(src="./assets/semantic/semantic.min.js")
%script(src='./assets/js/application.js')

%meta(name="google-site-verification" content="Cj5CPp60p_YthkYoq1iWglo8d6yEfapurd-RmBKW0fs")
