%header#top
  .ui.centered.grid
    .column.ten.wide.computer.fourteen.wide.mobile
      %h1
        %img(src="./assets/img/logo@2x.png" alt="NOT SO BAD")
      .ui.divider
      %p.ui.basic.segment.center.aligned Towards a not so bad world.


%section#menu
  .ui.inverted.attached.center.aligned.segment
    .ui.horizontal.inverted.relaxed.link.list
      %a(class="item" href="#policy") Policy
      %a(class="item" href="#works") Works
      %a(class="item" href="#member") Member
      %a(class="item" href="#about") About

%section#policy
  %h1.hide PHILOSOPHY
  .ui.three.column.grid.center.aligned
    .column
      %img(src="./assets/img/niche.png" class="ui centered small circular image")
      %h3 NICHE
      %p Keep focusing on your favourite niche market.
    .column
      %img(src="./assets/img/unique.png" class="ui centered small circular image")
      %h3 UNIQUE
      %p Do what other people never do.
    .column
      %img(src="./assets/img/humour.png" class="ui centered small circular image")
      %h3 HUMOUR
      %p Never forget a sense of humour in your life.

%section#works
  %h1.hide WORKS
  .ui.three.column.stackable.grid
    .column
      %a(href="https://bungomail.notsobad.jp" target="_blank")
        %img(src="./assets/img/works/bungomail.jpg" class="ui image rounded" alt="ブンゴウメール")
      %h2
        %a.ui.inverted.small.header(href="https://bungomail.notsobad.jp" target="_blank")
          ブンゴウメール
      %p ブンゴウメールは、青空文庫の作品を小分けにして毎日メールで送信してくれる読書サポートサービスです。
    .column
      %a(href="https://the-timeline.jp" target="_blank")
        %img(src="./assets/img/works/timeline.png" class="ui image rounded" alt="THE TIMELINE")
      %h2
        %a.ui.inverted.small.header(href="https://the-timeline.jp" target="_blank")
          THE TIMELINE
      %p THE TIMELINE(ザ・タイムライン)は、簡単・便利な無料の年表作成サービスです。
    .column
      %a(href="http://the-tournament.jp/about" target="_blank")
        %img(src="./assets/img/works/the-tournament.png" class="ui image rounded" alt="THE TOURNAMENT")
      %h2
        %a.ui.inverted.small.header(href="http://the-tournament.jp/about" target="_blank")
          THE TOURNAMENT
      %p THE TOURNAMENT(ザ・トーナメント)は、簡単・便利な無料のトーナメント表作成サービスです。
  .ui.three.column.stackable.grid
    .column
      %a(href="http://karta.notsobad.jp" target="_blank")
        %img(src="./assets/img/works/spkarta.png" class="ui image rounded" alt="スマホde百人一首")
      %h2
        %a.ui.inverted.small.header(href="http://karta.notsobad.jp" target="_blank")
          スマホde百人一首
      %p スマホde百人一首は、みんなのスマホを取り札にして遊べる、お正月にぴったりの百人一首サービスです。
    .column
      %a(href="https://chrome.google.com/webstore/detail/tab-sekki-%E4%BA%8C%E5%8D%81%E5%9B%9B%E7%AF%80%E6%B0%97%E4%B8%83%E5%8D%81%E4%BA%8C%E5%80%99/hpiplbccmdafmjoompeplcakgghggcfh" target="_blank")
        %img(src="./assets/img/works/tabsekki.png" class="ui image rounded" alt="TabSekki")
      %h2
        %a.ui.inverted.small.header(href="https://chrome.google.com/webstore/detail/tab-sekki-%E4%BA%8C%E5%8D%81%E5%9B%9B%E7%AF%80%E6%B0%97%E4%B8%83%E5%8D%81%E4%BA%8C%E5%80%99/hpiplbccmdafmjoompeplcakgghggcfh" target="_blank")
          TabSekki
      %p TabSekkiは、ブラウザの新しいタブに二十四節気七十二候の現在の暦を表示してくれるChrome拡張機能です。
    .column
      %img(src="./assets/img/works/blm.png" class="ui image rounded ")
      %h2.ui.header
        book loves music
        %span.ui.tiny.label サービス終了
      %p booklovesmusic(ブック・ラブズ・ミュージック)は、いま読んでいる本にぴったりの音楽をおすすめしてくれるサービスです。


%section#member
  %h1.hide MEMBER
  .ui.grid
    .ui.center.two.column.row
      .column
        .ui
          %img(src="./assets/img/profile.png" class="ui image small circular right floated")
      .column
        .ui
          %h2 Tomomichi Onishi
          %p Web Director/Developer
          %ul
            %li
              %a(href="https://twitter.com/kame_f_no7" target="_blank")
                %button(class="ui circular icon twitter button")
                  %i(class="twitter icon")
              %a(href="https://www.facebook.com/tomomichi.onishi" target="_blank")
                %button(class="ui circular icon facebook button")
                  %i(class="facebook icon")
              %a(href="https://github.com/Tomomichi" target="_blank")
                %button(class="ui circular black icon button")
                  %i(class="github alternate icon")

%section#about
  %h1.hide ABOUT
  %table.ui.padded.table
    %tr
      %td Company
      %td NOT SO BAD
    %tr
      %td Established
      %td 1 Sep 2013
    %tr
      %td Founder
      %td Tomomichi Onishi
    %tr
      %td Service
      %td Web development, consulting and owned services.
    %tr
      %td Contact
      %td
        Mail: info@notsobad.jp


%div.ui.inverted.attached.footer.center.aligned.very.padded.segment
  %h4.ui.inverted.medium.header
    NOT SO BAD
    %br
    %small.sub.header
      Towards a not so bad world.

  .ui.horizontal.inverted.small.divided.link.list
    %a(class="item" href="#policy") Policy
    %a(class="item" href="#works") Works
    %a(class="item" href="#member") Member
    %a(class="item" href="#about") About
