%header
  %h1 NOT SO BAD
  %p Towards a not so bad world.

%section#business.grid.clearfix
  %h1.hide BUSINESS
  %div.col_4
    %h2 OWNED SERVICE
    %p We own some book related services.<br>See "WORKS" for more.
  %div.col_4
    %h2 WEB DEV
    %p We offer small but beautiful web development.<br>Contact for more detail.
  %div.col_4
    %h2 CONSULTING
    %p We offer consulting service based on your needs.<br>Contact us for more detail.

%section#works
  %div.grid.clearfix
    %ul.slideshow
      %li
        %div.col_6
          %a(href="http://bookpad.me/about" target="_blank")
            %img(src="./img/works/bookpad.png")
        %div.col_6.left
          %h2
            %a(href="http://bookpad.me/about" target="_blank") BOOK PAD
          %p BOOK PAD is a book searching device/system for book stores and libraries, based on iPad.
      %li
        %div.col_6
          %a(href="http://booklovesmusic.com" target="_blank")
            %img(src="./img/works/blm.png")
        %div.col_6.left
          %h2
            %a(href="http://booklovesmusic.com" target="_blank") book loves music
          %p booklovesmusic offers you the music recommendation suited for the book you're reading now.
      %li
        %div.col_6
          %a(href="http://hyaku-1.com" target="_blank")
            %img(src="./img/works/hyaku-ichi.png")
        %div.col_6.left
          %h2
            %a(href="http://hyaku-1.com" target="_blank") Hyaku-Ichi
          %p Hyaku-Ichi is a web service which enables you to learn Hyakunin-Issyu in about a month.

%section#member.grid.clearfix
  %div.col_5
    %div
  %div.col_7.left
    %h2 Tomomichi Onishi
    %p Web Developer, CEO at NOT SO BAD
    %ul
      %li
        %i(class="icon-github-alt")
        GITHUB:
        %a(href="https://github.com/Tomomichi" target="_blank") Tomomichi
      %li
        %i(class="icon-twitter")
        TWITTER:
        %a(href="https://twitter.com/kame_f_no7" target="_blank") kame_f_no7
      %li
        %i(class="icon-facebook-sign")
        FACEBOOK:
        %a(href="https://www.facebook.com/tomomichi.onishi" target="_blank") Tomomichi Onishi

%section#about
  %div.grid.clearfix
    %table
      %tr
        %th Company
        %td NOT SO BAD
      %tr
        %th Established
        %td 1 Sep 2013
      %tr
        %th Founder
        %td Tomomichi Onishi
      %tr
        %th Service
        %td Web development, consulting and owned services.
      %tr
        %td Address
        %th 3-15-7 Nishi-Ikebukuro, Toshima-ku, Tokyo, Japan
      %tr
        %th Contact
        %td
          Tel: 050-3596-7724<br>
          Mail: tomomichi.onishi@gmail.com

%footer
  %p
    Copyright
    %a(href="/") NOT SO BAD
    2013 All Rights Reserved.
