%header
  .ui.centered.grid
    .column.ten.wide.computer.fourteen.wide.mobile
      %h1
        %img(src="./assets/img/logo@2x.png" alt="NOT SO BAD")
      .ui.divider
      %p.ui.basic.segment.center.aligned Towards a not so bad world.


%section#menu
  .ui.inverted.attached.menu.center.aligned.segment
    .ui.inverted.secondary.pointing.menu.center.aligned
      %a(class="item" href="#policy") Policy
      %a(class="item" href="#works") Works
      %a(class="item" href="#member") Member
      %a(class="item" href="#about") About

%section#policy
  %h1.hide PHILOSOPHY
  .ui.three.column.grid.center.aligned
    .column
      %img(src="./assets/img/niche.png" class="ui centered small circular image")
      %h3 NICHE
      %p Keep focusing on your favourite niche market.
    .column
      %img(src="./assets/img/unique.png" class="ui centered small circular image")
      %h3 UNIQUE
      %p Do what other people never do.
    .column
      %img(src="./assets/img/humour.png" class="ui centered small circular image")
      %h3 HUMOUR
      %p Never forget a sense of humour in your life.

%section#works
  %h1.hide WORKS
  .ui.four.column.stackable.grid
    .column
      %a(href="http://karta.notsobad.jp" target="_blank")
        %img(src="./assets/img/works/spkarta.png" class="ui image rounded" alt="スマホde百人一首")
      %h2 スマホde百人一首
      %p スマホde百人一首は、みんなのスマホを取り札にして遊べる、お正月にぴったりの百人一首サービスです。
      %div
        %a(href="http://karta.notsobad.jp" target="_blank")
          See more
          %i.right.chevron.icon
    .column
      %a(href="http://the-tournament.jp/about" target="_blank")
        %img(src="./assets/img/works/the-tournament.png" class="ui image rounded" alt="THE TOURNAMENT")
      %h2 THE TOURNAMENT
      %p THE TOURNAMENT(ザ・トーナメント)は、簡単・便利な無料のトーナメント表作成サービスです。
      %div
        %a(href="http://the-tournament.jp/about" target="_blank")
          See more
          %i.right.chevron.icon
    .column
      %a(href="http://bungomail.notsobad.jp" target="_blank")
        %img(src="./assets/img/works/bungomail.png" class="ui image rounded" alt="ブンゴウメール")
      %h2 ブンゴウメール
      %p ブンゴウメールは、青空文庫の短編作品をだいたい毎朝メールで送ってくれる、忙しい人にぴったりの読書サービスです。
      %div
        %a(href="http://bungomail.notsobad.jp" target="_blank")
          See more
          %i.right.chevron.icon
    .column
      %a(href="http://booklovesmusic.com" target="_blank")
        %img(src="./assets/img/works/blm.png" class="ui image rounded ")
      %h2 book loves music
      %p booklovesmusic(ブック・ラブズ・ミュージック)は、いま読んでいる本にぴったりの音楽をおすすめしてくれるサービスです。
      %div
        %a(href="http://booklovesmusic.com" target="_blank")
          See more
          %i.right.chevron.icon


%section#member
  %h1.hide MEMBER
  .ui.grid
    .ui.center.two.column.row
      .column
        .ui
          %img(src="./assets/img/profile.png" class="ui image small circular right floated")
      .column
        .ui
          %h2 Tomomichi Onishi
          %p Web Director/Developer
          %ul
            %li
              %a(href="https://twitter.com/kame_f_no7" target="_blank")
                %button(class="ui circular icon twitter button")
                  %i(class="twitter icon")
              %a(href="https://www.facebook.com/tomomichi.onishi" target="_blank")
                %button(class="ui circular icon facebook button")
                  %i(class="facebook icon")
              %a(href="https://github.com/Tomomichi" target="_blank")
                %button(class="ui circular grey icon button")
                  %i(class="github alternate icon")
              %a(href="mailto:info@notsobad.jp")
                %button(class="ui circular orange icon button")
                  %i(class="mail icon")

%section#about
  %h1.hide ABOUT
  %table.ui.black.table
    %tr
      %td Company
      %td NOT SO BAD
    %tr
      %td Established
      %td 1 Sep 2013
    %tr
      %td Founder
      %td Tomomichi Onishi
    %tr
      %td Service
      %td Web development, consulting and owned services.
    %tr
      %td Address
      %td 27-3 Nakafudanotsujicho, Higashikujo Minami-ku, Kyoto, Japan
    %tr
      %td Contact
      %td
        Mail: info@notsobad.jp

%footer.ui.footer.inverted.basic.segment.center.aligned
  %small
    Copyright
    %a(href="/") NOT SO BAD
    All Rights Reserved.
