%header
  .ui.grid
    .column#top
      %h1
        %img(src="./assets/img/logo@2x.png" alt="NOT SO BAD")
      .ui.divider
      %p Towards a not so bad world.


%section#menu
  .ui.inverted.attached.menu.center.aligned.segment
    .ui.inverted.secondary.pointing.menu.center.aligned
      %a(class="item active") Home
      %a(class="item" href="#policy") Policy
      %a(class="item" href="#works") Works
      %a(class="item" href="#member") Member
      %a(class="item" href="#about") About

%section#policy
  %h1.hide PHILOSOPHY
  .ui.three.column.grid.center.aligned
    .column
      %img(src="./assets/img/niche.png" class="ui centered small circular image")
      %h2 NICHE
      %p Keep focusing on your favourite niche market.
    .column
      %img(src="./assets/img/unique.png" class="ui centered small circular image")
      %h2 UNIQUE
      %p Do what other people never do.
    .column
      %img(src="./assets/img/humour.png" class="ui centered small circular image")
      %h2 HUMOUR
      %p Never forget a sense of humour in your life.

%section#works
  %h1.hide WORKS
  .ui.three.columns.grid
    .column
      %img(src="./assets/img/works/the-tournament.png" class="ui image rounded ")
      %h2 THE TOURNAMENT
      %p THE TOURNAMENT is a simple and easy-to-use service for creating cool tournament bracket.
    .column
      %img(src="./assets/img/works/bungomail.png" class="ui image rounded ")
      %h2 ブンゴウメール
      %p ブンゴウメール sends you an email almost every morning with short stories from Aozora bunko.
    .column
      %img(src="./assets/img/works/blm.png" class="ui image rounded ")
      %h2 book loves music
      %p booklovesmusic offers you the music recommendation suited for the book you're reading now.


%section#member
  %h1.hide MEMBER
  .ui.grid
    .ui.center.two.column.row
      .column
        .ui
          %img(src="./assets/img/profile.png" class="ui image small circular right floated")
      .column
        .ui
          %h2 Tomomichi Onishi
          %p Web Director/Developer
          %ul
            %li
              %a(href="https://twitter.com/kame_f_no7" target="_blank")
                %button(class="ui circular icon twitter button")
                  %i(class="twitter icon")
              %a(href="https://www.facebook.com/tomomichi.onishi" target="_blank")
                %button(class="ui circular icon facebook button")
                  %i(class="facebook icon")
              %a(href="https://github.com/Tomomichi" target="_blank")
                %button(class="ui circular icon button")
                  %i(class="github alternate icon")
              %button(class="ui circular icon button")
                %i(class="mail icon")

%section#about
  %h1.hide ABOUT
  %table.ui.black.table
    %tr
      %td Company
      %td NOT SO BAD
    %tr
      %td Established
      %td 1 Sep 2013
    %tr
      %td Founder
      %td Tomomichi Onishi
    %tr
      %td Service
      %td Web development, consulting and owned services.
    %tr
      %td Address
      %td 27-3 Nakafudanotsujicho, Higashikujo Minami-ku, Kyoto, Japan
    %tr
      %td Contact
      %td
        Mail: info@notsobad.jp

%footer
  %p.ui.center.aligned
    Copyright
    %a(href="/") NOT SO BAD
    All Rights Reserved.
