%header#top
  %h1 NOT SO BAD
  %p Towards a not so bad world.
  %p
    %a(href="#philosophy")
      %i.icon-double-angle-down.icon-2x

%nav
  %div.grid
    %div.clearfix
      %a(href="#top") NOT SO BAD
      %ul
        %li
          %a(href="#about") About
        %li
          %a(href="#member") Member
        %li
          %a(href="#works") Works
        %li
          %a(href="#philosophy") Philosophy


%section#philosophy.grid.clearfix
  %h1.hide PHILOSOPHY
  %div.col_4
    %h2 Focus on<br><strong>NICHE</strong>
    %p Keep focusing on your favourite niche market.
  %div.col_4
    %h2 <strong>SMALL</strong> is<br>Beautiful
    %p Make things simple, small and beautiful.
  %div.col_4
    %h2 Sense of<br><strong>HUMOUR</strong>
    %p Never forget a sense of humour in your life.

%section#works
  %h1.hide WORKS
  %div.grid.clearfix
    %ul.slideshow
      %li
        %div.col_6
          %a(href="http://the-tournament.jp/about" target="_blank")
            %img(src="./img/works/the-tournament.png")
        %div.col_6.left
          %h2
            %a(href="http://the-tournament.jp/about" target="_blank") THE TOURNAMENT
          %p THE TOURNAMENT is a simple and easy-to-use service for creating cool tournament bracket.
      %li
        %div.col_6
          %a(href="http://bungomail.notsobad.jp" target="_blank")
            %img(src="./img/works/bungomail.png")
        %div.col_6.left
          %h2
            %a(href="http://bungomail.notsobad.jp" target="_blank") ブンゴウメール
          %p ブンゴウメール sends you an email almost every morning with short stories from Aozora bunko.
      %li
        %div.col_6
          %a(href="http://booklovesmusic.com" target="_blank")
            %img(src="./img/works/blm.png")
        %div.col_6.left
          %h2
            %a(href="http://booklovesmusic.com" target="_blank") book loves music
          %p booklovesmusic offers you the music recommendation suited for the book you're reading now.

%section#member.grid.clearfix
  %h1.hide MEMBER
  %div.col_5
    %div
  %div.col_7.left
    %h2 Tomomichi Onishi
    %p Web Developer, CEO at NOT SO BAD
    %ul
      %li
        %i.icon-github-alt
        GITHUB:
        %a(href="https://github.com/Tomomichi" target="_blank") Tomomichi
      %li
        %i.icon-twitter
        TWITTER:
        %a(href="https://twitter.com/kame_f_no7" target="_blank") kame_f_no7
      %li
        %i.icon-facebook-sign
        FACEBOOK:
        %a(href="https://www.facebook.com/tomomichi.onishi" target="_blank") Tomomichi Onishi

%section#about
  %h1.hide ABOUT
  %div.grid.clearfix
    %table
      %tr
        %th Company
        %td NOT SO BAD
      %tr
        %th Established
        %td 1 Sep 2013
      %tr
        %th Founder
        %td Tomomichi Onishi
      %tr
        %th Service
        %td Web development, consulting and owned services.
      %tr
        %th Address
        %td 27-3 Nakafudanotsujicho, Higashikujo Minami-ku, Kyoto, Japan
      %tr
        %th Contact
        %td
          Mail: info@notsobad.jp

%footer
  %p
    Copyright
    %a(href="/") NOT SO BAD
    2013-#{Date.today.year} All Rights Reserved.
